<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-compatible" contact="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Cancel</title>
        <link rel="icon" type="image/png" sizes="32x32" href="3448513.png">
        <link rel="stylesheet" href="CancelReservation.css">
    </head>
    <body>
        <div class="popup" id="cancel">
            <h2>Cancel Reservation</h2>
            <hr>
            <p>Are you sure?</p>
            <hr>
            <button type="submit" class="selectbtn">Yes</button>
            <button type="button" class="cancelbtn">No</button>
        </div>
    </body>
</html>