<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-compatible" contact="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Doctors</title>
        <link rel="icon" type="image/png" sizes="32x32" href="images/3448513.png">
        <link rel="stylesheet" href="css/Doctors.css">
    </head>
    <body>
        <header class="header" id="header">
            <h2>
                <div class="user-wrapper">
                    <div class="img">
                        <img class="user_img" src="medical-team.png" width="30px" height="30px" alt="admin photo">
                    </div>
                    <h4 class="user" for="nav-toggle">
                        Welcome, Secretary
                    </h4>
                </div>
            </h2>
        </header>
        <main>
            <div class="project">
                <div class="board">
                    <div class="board-body">
                        <table class="board_body">
                            <thead>
                                <tr class="head">
                                    <td>ID</td>
                                    <td>Doctor Name</td>
                                    <td>Shift(s)</td>
                                    <td>Operations</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Dr Mohamed</td>
                                    <td>
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="submit_btn">Edit an Existing Time</button>
                                        <button type="button" class="submit_btn">Add New Time</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Dr Mohamed</td>
                                    <td>
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="submit_btn">Edit an Existing Time</button>
                                        <button type="button" class="submit_btn">Add New Time</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Dr Mohamed</td>
                                    <td>
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="submit_btn">Edit an Existing Time</button>
                                        <button type="button" class="submit_btn">Add New Time</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Dr Mohamed</td>
                                    <td>
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="submit_btn">Edit an Existing Time</button>
                                        <button type="button" class="submit_btn">Add New Time</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Dr Mohamed</td>
                                    <td>
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="submit_btn">Edit an Existing Time</button>
                                        <button type="button" class="submit_btn">Add New Time</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Dr Mohamed</td>
                                    <td>
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="submit_btn">Edit an Existing Time</button>
                                        <button type="button" class="submit_btn">Add New Time</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Dr Mohamed</td>
                                    <td>
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="submit_btn">Edit an Existing Time</button>
                                        <button type="button" class="submit_btn">Add New Time</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Dr Mohamed</td>
                                    <td>
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="submit_btn">Edit an Existing Time</button>
                                        <button type="button" class="submit_btn">Add New Time</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Dr Mohamed</td>
                                    <td>
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="submit_btn">Edit an Existing Time</button>
                                        <button type="button" class="submit_btn">Add New Time</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Dr Mohamed</td>
                                    <td>
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                                <tr>
                                                    <td>Saterday from 11:00 AM to 05:00 PM</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="submit_btn">Edit an Existing Time</button>
                                        <button type="button" class="submit_btn">Add New Time</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <button class="logout" type="submit">Done</button>
            </div>
        </footer>
    </body>
</html>
