<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-compatible" contact="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Secretary</title>
        <link rel="icon" type="image/png" sizes="32x32" href="images3448513.png">
        <link rel="stylesheet" href="css/Secretary.css">
    </head>
    <body>
        <header class="header" id="header">
            <h2>
                <div class="user-wrapper">
                    <div class="img">
                        <img class="user_img" src="medical-team.png" width="30px" height="30px" alt="admin photo">
                    </div>
                    <h4 class="user" for="nav-toggle">
                        Welcome, Secretary<p>{Auth::user()->username
                        }}</p>
                    </h4>
                </div>
            </h2>
        </header>
        <main>
            <div class="card">
                <div class="card-single">
                    <div> <span class="las la-users"></span></div>
                    <button type="button" class="add">
                        Doctors
                    </button>
                    <button type="button" class="doctor">
                        New Patient
                    </button>
                </div>
            </div>
            <div class="project">
                <div class="board">
                    <div class="board_header">
                        <form action="" method="get">
                            <p><h2>Dr Mahomoud</h2></p>
                            <br>
                            <p><span id='date'></span></p>
                        </form>
                    </div>
                    <div class="board-body">
                        <table class="board_body">
                            <thead>
                                <tr class="head">
                                    <td>Number</td>
                                    <td>Patient Name</td>
                                    <td>Phone</td>
                                    <td>Time</td>
                                    <td>Paid</td>
                                    <td>Operations</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mohamed</td>
                                    <td>012223897540</td>
                                    <td>6:39</td>
                                    <td>
                                        <form action="">
                                            <label for="Paid" class="cash">$</label>
                                            <input type="text" class="paid" name="Paid" placeholder="cash">
                                            <button type="submit" class="addbtn" >Submit</button>
                                        </form>
                                    </td>
                                    <td>
                                        <button type="submit" class="cancle_btn"  id="cancel" onclick="cancelReserv()">Cancel</button>
                                        <button type="button" class="view_btn"  onclick="viewButton()">View</button>
                                        <button type="submit" class="view_btn">Send</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Mohamed</td>
                                    <td>012223897540</td>
                                    <td>6:39</td>
                                    <td>
                                        <form action="">
                                            <label for="Paid" class="cash">$</label>
                                            <input type="text" class="paid" name="Paid" placeholder="cash">
                                            <button type="submit" class="addbtn">Submit</button>
                                        </form>
                                    </td>
                                    <td>
                                        <button type="submit" class="cancle_btn">Cancel</button>
                                        <button type="button" class="view_btn">View</button>
                                        <button type="submit" class="view_btn">Send</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</label>
                                    </td>
                                    <td>Mohamed</td>
                                    <td>012223897540</td>
                                    <td>6:39</td>
                                    <td>
                                        <form action="">
                                            <label for="Paid" class="cash">$</label>
                                            <input type="text" class="paid" name="Paid" placeholder="cash">
                                            <button type="submit" class="addbtn">Submit</button>
                                        </form>
                                    </td>
                                    <td>
                                        <button type="submit" class="cancle_btn">Cancel</button>
                                        <button type="button" class="view_btn">View</button>
                                        <button type="submit" class="view_btn">Send</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Mohamed</td>
                                    <td>012223897540</td>
                                    <td>6:39</td>
                                    <td>
                                        <form action="">
                                            <label for="Paid" class="cash">$</label>
                                            <input type="text" class="paid" name="Paid" placeholder="cash">
                                            <button type="submit" class="addbtn">Submit</button>
                                        </form>
                                    </td>
                                    <td>
                                        <button type="submit" class="cancle_btn">Cancel</button>
                                        <button type="button" class="view_btn">View</button>
                                        <button type="submit" class="view_btn">Send</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Mohamed</td>
                                    <td>012223897540</td>
                                    <td>6:39</td>
                                    <td>
                                        <form action="">
                                            <label for="Paid" class="cash">$</label>
                                            <input type="text" class="paid" name="Paid" placeholder="cash">
                                            <button type="submit" class="addbtn">Submit</button>
                                        </form>
                                    </td>
                                    <td>
                                        <button type="submit" class="cancle_btn">Cancel</button>
                                        <button type="button" class="view_btn">View</button>
                                        <button type="submit" class="view_btn">Send</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Mohamed</td>
                                    <td>012223897540</td>
                                    <td>6:39</td>
                                    <td>
                                        <form action="">
                                            <label for="Paid" class="cash">$</label>
                                            <input type="text" class="paid" name="Paid" placeholder="cash">
                                            <button type="submit" class="addbtn">Submit</button>
                                        </form>
                                    </td>
                                    <td>
                                        <button type="submit" class="cancle_btn">Cancel</button>
                                        <button type="button" class="view_btn">View</button>
                                        <button type="submit" class="view_btn">Send</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Mohamed</td>
                                    <td>012223897540</td>
                                    <td>6:39</td>
                                    <td>
                                        <form action="">
                                            <label for="Paid" class="cash">$</label>
                                            <input type="text" class="paid" name="Paid" placeholder="cash">
                                            <button type="submit" class="addbtn">Submit</button>
                                        </form>
                                    </td>
                                    <td>
                                        <button type="submit" class="cancle_btn">Cancel</button>
                                        <button type="button" class="view_btn">View</button>
                                        <button type="submit" class="view_btn">Send</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Mohamed</td>
                                    <td>012223897540</td>
                                    <td>6:39</td>
                                    <td>
                                        <form action="">
                                            <label for="Paid" class="cash">$</label>
                                            <input type="text" class="paid" name="Paid" placeholder="cash">
                                            <button type="submit" class="addbtn">Submit</button>
                                        </form>
                                    </td>
                                    <td>
                                        <button type="submit" class="cancle_btn">Cancel</button>
                                        <button type="button" class="view_btn">View</button>
                                        <button type="submit" class="view_btn">Send</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Mohamed</td>
                                    <td>012223897540</td>
                                    <td>6:39</td>
                                    <td>
                                        <form action="">
                                            <label for="Paid" class="cash">$</label>
                                            <input type="text" class="paid" name="Paid" placeholder="cash">
                                            <button type="submit" class="addbtn">Submit</button>
                                        </form>
                                    </td>
                                    <td>
                                        <button type="submit" class="cancle_btn">Cancel</button>
                                        <button type="button" class="view_btn">View</button>
                                        <button type="submit" class="view_btn">Send</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Mohamed</td>
                                    <td>012223897540</td>
                                    <td>6:39</td>
                                    <td>
                                        <form action="">
                                            <label for="Paid" class="cash">$</label>
                                            <input type="text" class="paid" name="Paid" placeholder="cash">
                                            <button type="submit" class="addbtn">Submit</button>
                                        </form>
                                    </td>
                                    <td>
                                        <button type="submit" class="cancle_btn">Cancel</button>
                                        <button type="button" class="view_btn">View</button>
                                        <button type="submit" class="view_btn">Send</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="board-body">
                        <table class="board_body">
                                <thead>
                                    <tr class="head">
                                        <td>Done</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mohamed</td>
                                    </tr>
                                    <tr>
                                        <td>Mohamed</td>
                                    </tr>
                                    <tr>
                                        <td>Mohamed</td>
                                    </tr>
                                    <tr>
                                        <td>Mohamed</td>
                                    </tr>
                                    <tr>
                                        <td>Mohamed</td>
                                    </tr>
                                    <tr>
                                        <td>Mohamed</td>
                                    </tr>
                                    <tr>
                                        <td>Mohamed</td>
                                    </tr>
                                    <tr>
                                        <td>Mohamed</td>
                                    </tr>
                                    <tr>
                                        <td>Mohamed</td>
                                    </tr>
                                    <tr>
                                        <td>Mohamed</td>
                                    </tr>
                                    <tr>
                                        <td>Mohamed</td>
                                    </tr>
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <button class="logout" type="submit">Log out</button>
            </div>
        </footer>
<!-- View page -->
    <div class="viewButton" id="viewButton">
        <form action="">
            <div class="view" id="view">
                <label>
                    <h1>View Patient's Details</h1>
                </label>
                <hr>
                <div class="container2">
                    <div class="inputrow">
                        <label for="pname">Patient Name</label>
                        <input type="text" name="pname" id="pn" placeholder="First Name and Last Name">
                        <label for="pId">ID</label>
                        <input type="text" name="pId" id="PId" placeholder="ID">
                    </div>
                </div>
                <div class="container2">
                    <label for="phonenum">Phone Number</label>
                    <input type="text" name="phonenum" id="phonen" placeholder="phone number">
                </div>
                <div class="container2">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="mail" placeholder="Adam@example.com">
                </div>
                <div class="container2">
                    <label for="age">Age</label>
                    <input type="text" name="age" id="Age" placeholder="ex: 15 years old">
                </div>
                <div class="container2">
                    <label for="gender">Gender</label>
                    <input type="text" name="gender" id="Gender" placeholder="gender">
                </div>
                <div class="container2">
                    <label for="cash">Cash</label>
                    <input type="text" name="cash" id="Cash" placeholder="--$">
                </div>
                <div class="container2">
                    <div class="control">
                        <button class="submit" type="submit" onclick="viewButton()">
                            <span class="normal-state">Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
<!-- cancel reservation -->
    <div class="cancelReservation" id="cancelReservation">
        <h2>Cancel Reservation</h2>
        <hr>
        <p>Are you sure?</p>
        <hr>
        <div class="clearfix">
            <div class="bookbutton" onclick="cancelReserv()">
                <button type="submit" class="selectbtn">Yes</button>
            </div>
            <div class="cancelbutton" onclick="cancelReserv()">
                <button type="button" class="cancelbtn">No</button>
            </div>
        </div>
    </div>
<!-- cancel button -->
    <div class="cancelButtons" id="cancelButtons">
        <h2>Cancel Editing</h2>
        <hr>
        <p>Are you sure?</p>
        <hr>
        <div class="clearfix">
            <div class="bookbutton" onclick="cancelButtons()">
                <button type="submit" class="selectbtn">Yes</button>
            </div>
            <div class="cancelbutton" onclick="cancelButtons()">
                <button type="button" class="cancelbtn">No</button>
            </div>
        </div>
    </div>
    </body>
    <script src="Secretary.js"></script>
</html>
